# Images (remplacer par les images/tags réels)
FRONT_IMAGE=front-service:local
AUTH_IMAGE=auth-service:local

# Ports internes containers (placeholders par défaut)
FRONT_INTERNAL_PORT=4200
AUTH_INTERNAL_PORT=3000

# Ports publiés côté hôte
TRAEFIK_WEB_PORT=80
TRAEFIK_DASHBOARD_PORT=8080

# Exposition directe auth (mode debug uniquement via docker-compose.direct.yml)
AUTH_HOST_PORT=3001
