JWT_SECRET=__CHANGE_ME__
DATABASE_URL=mongodb://auth_db:27017
DB_NAME=auth_db
JWT_EXPIRES_IN=15m
NODE_ENV=production
STRICT_ENV=true
ADMIN_EMAIL=__CHANGE_ME__
ADMIN_PASSWORD=__CHANGE_ME__
ADMIN_PSEUDO=admin
JWT_ISSUER=
JWT_AUDIENCE=
